*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

*::-webkit-scrollbar{
    background-color: var(--bg-main);
    color: #fff;
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 4px;
}

